i.mce-i-swf:before {
    font-family: "dashicons";
   
}

i.mce-i-swf{
	 background: url('../img/flash.png');
}

.welcome-panel-last-sas-flash{
	width: 62%;
	float: right;
}

.welcome-panel-last-sas-flash textarea{
	width: 100%;
	min-height: 70px;
}